@using BLUEY.Models.ViewModels
@model List<UserRoleViewModel>

<h2>Lista de Usuários</h2>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Role Name</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>

            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.RoleName</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@user.UserId" class="btn btn-warning">Editar</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }

    </tbody>
</table>
