@model List<LCTOFISConsServ>
@{
    ViewData["Title"] = "Debite";
}

<div class="container">
    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option selected>Empresas</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col">
            <div class="input-group mb-3">
              <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

<hr>

    <h1>Debite</h1>
    
    <table class="table">
        <thead>
            <tr>
            <th>EMPRESA_        </th>
            <th>CHAVE           </th>
            <th>FILIAL          </th>
            <th>COD_PESSOA      </th>
            <th>INSCR_FEDERAL   </th>
            <th>NOME            </th>
            <th>CFOP            </th>
            <th>TABELA          </th>
            <th>NUMERONF        </th>
            <th>MOVIMENTO       </th>
            <th>CONTACONTABIL</th>
            </tr>
        </thead>
        <tbody>
        @if (Model!=null)
        {
            @foreach (var debit in Model)
            {
                <tr>
                    <td>@debit.EMPRESA_</td>
                    <td>@debit.CHAVE</td>
                    <td>@debit.FILIAL</td>
                    <td>@debit.COD_PESSOA</td>
                    <td>@debit.INSCR_FEDERAL</td>
                    <td>@debit.NOME</td>
                    <td>@debit.CFOP</td>
                    <td>@debit.TABELA</td>
                    <td>@debit.NUMERONF</td>
                    <td>@debit.MOVIMENTO</td>
                    <td>
                        <select class="form-select selectpicker" data-live-search="true">
                        @foreach (var item in @debit.TABELACTBFISLCTOCTB)
                        {
                                <option value="@item.CONTACTB">@item.CONTACTB</option>
                        }
                        </select>
                    </td>
                </tr>
            }
        }else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>

<!-- Inicializar o Bootstrap Select -->
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script>