@model List<LCTOFISConsServ>
@{
    ViewData["Title"] = "Debite";
    var empresas = ViewBag.Empresas;
}
<form action="/GetDebit" method="post">
<div class="container">
    <div class="row">
        <div class="col col-lg-6">
                <select class="form-select selectpicker w-100" data-live-search="true" name="empresa">
                <option selected>Empresas</option>
                @foreach (var item in empresas)
                {
                    <option value="@item.CODIGOEMPRESA">@item.NOMEEMPRESA</option>
                }
            </select>
        </div>
        <div class="col col-lg-2">
            <div class="input-group mb-2">
                    <input type="date" class="form-control" name="datain" placeholder="DATALCTOFIS_in" aria-label="Início" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col col-lg-2">
            <div class="input-group mb-2">
                    <input type="date" class="form-control" name="dataout" placeholder="DATALCTOFIS_out" aria-label="Fim" aria-describedby="basic-addon1">
            </div>
        </div>
            <div class="col mb-2">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
    </div>

</div>
</form>
<hr>

    <h1>Debite</h1>

<table class="table">
        <thead>
            <tr>
            <th>EMPRESA</th>
            @* <th>CHAVE</th> *@
            <th>FILIAL</th>
            <th>CÓDIGO</th>
            <th>CNPJ</th>
            <th>FORNECEDOR</th>
            <th>CFOP</th>
            <th>TABELA</th>
            @* <th>NUMERONF</th> *@
            <th>MOV</th>
            <th>CONTA DÉBITO</th>
            <th>C.CAD</th>
            <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
        @if (Model!=null && Model.Count > 0 )
        {
            @foreach (var debit in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" class="EMPRESA_" value="@debit.EMPRESA_" />
                        @debit.EMPRESA_
                    </td>
                    @* <td>@debit.CHAVE</td> *@
                    <td>
                        <input type="hidden" class="FILIAL" value="@debit.FILIAL" />
                        @debit.FILIAL
                    </td>
                    <td>
                        <input type="hidden" class="COD_PESSOA" value="@debit.COD_PESSOA" />
                        @debit.COD_PESSOA
                    </td>
                    <td>
                        <input type="hidden" class="INSCR_FEDERAL" value="@debit.INSCR_FEDERAL" />
                        @debit.INSCR_FEDERAL
                    </td>
                    <td>
                        <input type="hidden" class="NOME" value="@debit.NOME" />
                        @debit.NOME
                    </td>
                    <td>
                        <input type="hidden" class="CFOP" value="@debit.CFOP" />
                        @debit.CFOP
                    </td>
                    <td>
                        <input type="hidden" class="TABELA" value="@debit.TABELA" />
                        @debit.TABELA
                    </td>
                    @* <td>@debit.NUMERONF</td> *@
                    <td>
                        <input type="hidden" class="MOVIMENTO" value="@debit.MOVIMENTO" />
                        @debit.MOVIMENTO
                    </td>
                    <td>
                        <select class="form-select selectpicker w-auto" data-live-search="true">
                            <option value="">Select</option>
                            @foreach (var item in @debit.TABELACTBFISLCTOCTB)
                            {
                                <option value="@item.CONTACTB">@item.CONTACTB</option>
                            }
                        </select>
                    </td>
                    <td>@debit.CONTACADASTRADA</td>
                    <td>
                        <button type="button" class="btn btn-primary save-debit" onclick="send(this.closest('tr'))" data-id="@debit.COD_PESSOA">Salvar</button>
                    </td>
                </tr>
            }
        }else
            {
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td> 
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                <td>
                    <button type="button" class="btn btn-primary save-debit" onclick="send(this.closest('tr'))" data-id="">Salvar</button>
                </td>
                </tr>
            }

        </tbody>
    </table>

<!-- Inicializar o Bootstrap Select -->
<script>
    function send(row) {

        const dropdownButton = row.querySelector('button[data-bs-toggle="dropdown"]');
        // Pegando o valor do atributo title
        const titleValue = dropdownButton ? dropdownButton.title : null;

        const datadebit = {
            EMPRESA_: row.querySelector('.EMPRESA_').value,
            FILIAL: row.querySelector('.FILIAL').value,
            COD_PESSOA: row.querySelector('.COD_PESSOA').value,
            INSCR_FEDERAL: row.querySelector('.INSCR_FEDERAL').value,
            NOME: row.querySelector('.NOME').value,
            CFOP: row.querySelector('.CFOP').value,
            TABELA: row.querySelector('.TABELA').value,
            MOVIMENTO: row.querySelector('.MOVIMENTO').value,
            TABELACTBFISLCTOCTB: titleValue
        };
        if (titleValue != "Select") {
            // Enviar dados para o servidor via AJAX
            $.ajax({
                type: "POST",
                url: '@Url.Action("SetDebit", "Debite")',
                contentType: "application/json", // Especifica que o conteúdo está no formato JSON
                data: JSON.stringify(datadebit), // Converte o objeto para JSON
                success: function (response) {
                    // Mostrar mensagem de sucesso
                    if (response) {
                        console.log('Dados salvos com sucesso!');
                    } else { 
                        console.log('Dados não foram salvos');
                    }
                    
                },
                error: function () {
                    // Mostrar mensagem de erro
                    console.log('Ocorreu um erro ao salvar os dados.');
                }
            });
        } else {
            let x = row.querySelector(".selectpicker");
            let nearestDiv = x.closest('div');
            nearestDiv.style.border = "2px solid red";
            setTimeout(function () {
                nearestDiv.style.border = "";
            }, 2000);
        }
    }

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });

</script>